#animated-bg
{
    background-size: 200% 200%;
    animation: bgAnimation 10s ease-in-out infinite;
}

@keyframes bgAnimation
{
    0%
    {
        background-position: 0% 0%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    0%
    {
        background-position: 0% 0%;
    }
}